<h1>Registrar Producto</h1>

<form [formGroup]="productoForm" (ngSubmit)="cerar()">
  <div class="row">
    <div class="col-sm-2">
      <label>nombre del producto:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="nombreProducto" name="idProducto" placeholder="nombre del producto" class="form-control"
        formControlName="nombre">
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-2">
      <label>Descripción:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="descripcionProducto" name="descripcion" placeholder="Descripción producto"
        class="form-control" formControlName="descripcion">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Precio:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="precioProducto" name="Precio" placeholder="Precio producto"
        class="form-control" formControlName="precio">
    </div>
  </div>
  <div>
    <button type="submit">CREAR</button>
  </div>
</form>
