<p>crear-pedido works!!</p>
<!--
<label>lista de productos</label>
<ul>
    <li *ngFor="let producto of (productos$ |async)">
        {{producto.nombre}}
    </li>
</ul>


<div>
    <label>fecha:{{fecha}}</label>
    <p>valor de iva: {{valorIva}}</p>
    <p id="valor">valor de productos:{{valorProductos}}</p>
    <p>valor de envio: {{valorEnvio}}</p>
    <p >valor total pedido:  {{valorTotal}}</p>

</div>




<form [formControl]="pedidoField"  (ngSubmit)="cerar()">
    <div class="row">
      <div class="col-sm-2">
        <label>fecha:{{fecha}}</label> 
      </div>
      <div class="col-sm-4">
        <input validar type="hidden" id="fecha" name="fecha" value="{{fecha}}" placeholder={{valorProductos}}
          class="form-control" formControlName="fecha" >
    </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label>clienteId:</label>
      </div>
      <div class="col-sm-4">
        <input validar type="text" id="clienteId" name="Precio" value="{{valorTotal}}" placeholder="Precio producto"
          class="form-control" formControlName="clienteId">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
          <label>iva: {{valorIva}}</label>
        </div>
        <div class="col-sm-4">
          <input validar type="hidden" id="ivaPedido" name="Precio" value={{valorIva}} placeholder="Precio producto"
            class="form-control" formControlName="iva">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
          <label>valorEnvio:{{valorEnvio}}</label>
        </div>
        <div class="col-sm-4">
          <input validar type="hidden" id="valorPedido" name="Precio" value={{valorEnvio}} placeholder="Precio producto"
            class="form-control" formControlName="valorEnvio">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
          <label>total:{{valorTotal}}</label>
        </div>
        <div class="col-sm-4">
          <input validar type="hidden" id="totalPedido" name="Precio" value={{valorTotal}} placeholder="Precio producto"
            class="form-control" formControlName="total">
        </div>
    </div>
    <button type="submit">crea pedido</button>
</form>

-->





<form [formGroup]="pedidoField" (ngSubmit)="crear()">
  <mat-card-header>
    <h1>ORDEN DE PEDIDO</h1>
  </mat-card-header>
  <mat-card-content>

    <div class="row">
      <div class="col-xs">
        <h2>fecha de creacion de pedido</h2>
        <mat-form-field>  
          <input matInput type="text" formControlName="fecha">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs">
        <h2>numero de cliente:</h2>
        <mat-form-field>  
          <input matInput type="number" formControlName="clienteId">
        </mat-form-field>
      </div>
    </div>
    

    <div class="row">
      <div class="col-xs">
        <h2>valor del iva</h2>
        <mat-form-field>  
          <input matInput type="number" formControlName="iva">
        </mat-form-field>
      </div>
    </div>



    <div class="row">
      <div class="col-xs">
        <h2>valor del envio</h2>
        <mat-form-field>  
          <input matInput type="number" formControlName="valorEnvio">    
        </mat-form-field>
      </div>
    </div>

    

    <div class="row">
      <div class="col-xs">
        <h2>costo total del envio</h2>
        <mat-form-field>  
          <input matInput type="number" formControlName="total">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>  
  <mat-card-actions>
    <button mat-raised-button type="submit"  [disabled]="pedidoField.invalid">crear</button>
  </mat-card-actions>
</form>

